path_to_pki_tls_certificates_directory='./newCertificates/'

# Email to administrate certificate (Your email)
email=''

# Certificate Password
password=''

# If you want Enable conf generator for apache | nginx
use_conf_generator=true